body {
 font-family: Arial, sans-serif;
 padding: 20px;
 background:#f4f4f4;
}

h1 {color:#005aa7;}

input {
 margin:5px;
 padding:5px;
}

button {
 padding:6px 10px;
 background:#005aa7;
 color:white;
 border:none;
 cursor:pointer;
}

table {
 width:100%;
 background:white;
 border-collapse: collapse;
 margin-top:10px;
}

th, td {
 border:1px solid #ccc;
 padding:8px;
 text-align:center;
}
